* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #101427;
  color: #e2e2e2;
  overflow-x: hidden;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

h1, h4 {
  margin: .5em;
}
progress {
  border-radius: 7px; 
  width: 100vw;
  height: 22px;
  position: absolute;
  bottom: 0px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
/* progress::-webkit-progress-bar {
  background-color: yellow;
} */
progress::-webkit-progress-value {
  background-color: red;
  /* border-radius: 7px !important; */
}
progress::-moz-progress-bar {
  /* style rules */
}
::-moz-progress-value {
  background-color: red;
  /* border-radius: 7px !important; */
}
::-moz-progress-bar {
  background-color: red;
  border-radius: 0;
}

/* Force indeterminate bars to have zero width */
:indeterminate::-moz-progress-bar {
  width: 0;
}

